<th:block th:fragment="header">
    <header class="nutgrow-header">
        <nav class="navbar navbar-expand-lg navbar-light" id="header-nav">
            <div class="container">
                <!-- Logo / Brand -->
                <a class="navbar-brand site-title d-flex align-items-center" th:href="@{/home}">
                    <img th:src="@{/assets/images/logo.png}"
                        alt="Nutgrow Logo"
                        style="height:70px; width:auto;"
                        class="me-2">
                    <span>Nutgrow</span>
                </a>

                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Menu -->
                    <ul class="navbar-nav ms-auto me-4">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">
                                <i class="fa fa-home me-1"></i>Trang chủ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/pricing}">
                                <i class="fa fa-info-circle me-1"></i>Bảng giá
                            </a>
                        </li>
                    </ul>

                    <!-- Anonymous -->
                    <th:block th:if="${#authorization.expression('isAnonymous()')}">
                        <a class="btn btn-login" th:href="@{/login}">
                            <i class="fa fa-sign-in me-1"></i>Đăng nhập
                        </a>
                    </th:block>

                    <!-- Logged -->
                    <th:block th:unless="${#authorization.expression('isAnonymous()')}">
                        <div class="dropdown">

                            <a class="btn btn-account dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown">
                                <i class="fa fa-user-circle me-1"></i>
                                Tài khoản
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                                <li>
                                    <a class="dropdown-item" th:href="@{/change-password}">
                                        <i class="fa fa-key me-2"></i>Đổi mật khẩu
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/user/document}">
                                        <i class="fa fa-folder-open me-2"></i>Tài liệu đã lưu
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/analyze}">
                                        <i class="fa fa-upload me-2"></i>Tải lên tài liệu
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item text-danger"
                                       th:href="@{/logout}">
                                        <i class="fa fa-sign-out me-2"></i>Đăng xuất
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </th:block>

                </div>
            </div>
        </nav>
    </header>
</th:block>
