<th:block th:fragment="right">
    <div class="right-sidebar">
        <div class="sidebar-title">
            <h3 class="weight-600 font-16 text-blue">
                Layout
                <span class="btn-block font-weight-400 font-12"
                >Cài đặt</span
                >
            </h3>
            <div class="close-sidebar" data-toggle="right-sidebar-close">
                <i class="icon-copy ion-close-round"></i>
            </div>
        </div>
        <div class="right-sidebar-body customscroll">
            <div class="right-sidebar-body-content">
                <h4 class="weight-600 font-18 pb-10">Giao diện header</h4>
                <div class="sidebar-btn-group pb-30 mb-10">
                    <a
                            href="javascript:void(0);"
                            class="btn btn-outline-primary header-white active"
                    >Trắng</a
                    >
                    <a
                            href="javascript:void(0);"
                            class="btn btn-outline-primary header-dark"
                    >Đen</a
                    >
                </div>

                <h4 class="weight-600 font-18 pb-10">Giao diện trái</h4>
                <div class="sidebar-btn-group pb-30 mb-10">
                    <a
                            href="javascript:void(0);"
                            class="btn btn-outline-primary sidebar-light"
                    >Trắng</a
                    >
                    <a
                            href="javascript:void(0);"
                            class="btn btn-outline-primary sidebar-dark active"
                    >Đen</a
                    >
                </div>
            </div>
        </div>
    </div>
</th:block>